POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGUSER=${POSTGRES_USER}
PGPASSWORD=${POSTGRES_PASSWORD}
PGDATABASE=${POSTGRES_DB}
PGHOST=${POSTGRES_HOST}
PGPORT=${POSTGRES_PORT}

ACCESS_TOKEN_KEY=access_token_key
REFRESH_TOKEN_KEY=refresh_token_key

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

HOST=0.0.0.0
PORT=5000
