POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGUSER=${POSTGRES_USER}
PGHOST=${POSTGRES_HOST}
PGPASSWORD=${POSTGRES_PASSWORD}
PGDATABASE=${POSTGRES_DB}
PGPORT=${POSTGRES_PORT}
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

ACCESS_TOKEN_KEY=access_token_key
ACCESS_TOKEN_AGE=10000
REFRESH_TOKEN_KEY=refresh_token_key

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_DEFAULT_VHOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_SERVER=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/${RABBITMQ_DEFAULT_VHOST}

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT_1=25
SMTP_PORT_2=465
SMTP_PORT_3=587
SMTP_PORT_4=2525
SMTP_USER=smtp_user
SMTP_PASSWORD=smtp_user

HOST=0.0.0.0
PORT=5000
